/config.env
/set-env.sh
/set-test-env.sh

# test logs/results
/test.log
/tests-*

docs
test
test.sh

__pycache__
*.pyc
target
*.swp

# XSpec
**/xspec/*
xslt/**/*-result.html
xslt/**/*-result.xml

.ropeproject


.vscode/settings.json

.vs/

env/

venv/


epubcheck-5.0.0

