@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* -- form v1.0.5pip image -- */
/* Declare parameters. */
$show-print-page-numbers: true !default;
$show-braille-page-numbers: true !default;
$line-spacing: false !default;
$include-notes: true !default;
$notes-placement: end-of-volume !default;
$default-table-class: table-matrix !default;
$page-width: 40 !default;
$hyphenation: true !default;
$force-norwegian: true !default;
$include-strong: true !default;
$include-em: true !default;

/* -------------------------------------------------------------------------- */
/*                Page layout                                                 */
/* -------------------------------------------------------------------------- */

/* Default margins (when there is no page number indication) */
@page {
	margin-right: 2;
	margin-left: 1;
}

/* -------------------------------------------------------------------------- */
/*                Braille page numbers                                        */
/* -------------------------------------------------------------------------- */

@if $show-braille-page-numbers {

	/* Base page style that other page styles inherit from */
	@page {
		/* Counter for body */
		/* Numbering in new volume continues where previous volume left off */
		counter-increment: page;
	}

	.pef-titlepage {
		page: auto;
	}

	/* Page style for title pages */
	@page titlepage {
		/* Count pages but hide them */
		counter-increment: front;
	}

	.pef-titlepage::duplicate {
		page: titlepage;
	}

	/* Page style for other frontmatter pages */
	@page front {
		counter-increment: front;
		margin-bottom: 1;

		@bottom-center {
			content: counter(front, lower-roman);
		}
	}

	@volume {
		@begin {
			page: front;
			/* Restart numbering of frontmatter pages in each volume */
			counter-set: front 1;
		}
	}

	/* Page style for body */
	@page body {
		margin-bottom: 1;

		@bottom-center {
			content: counter(page);
		}
	}

	body {
		page: body;
	}
}

/* -------------------------------------------------------------------------- */
/*                Print page numbers                                          */
/* -------------------------------------------------------------------------- */

/* Don't show pagenumber inline. Store reference in case we want to show marker in
 * margin.
 */
*[epub|type~="pagebreak"] {
	display: none;
	-obfl-marker: pagenum;
}

/* Show page numbers in bodymatter and backmatter. */
@if $show-print-page-numbers {

	@page {
		margin-left: 2;
	}

	[epub|type~="pagebreak"] {
		&[title] {
			string-set: print-page attr(title) print-page-break-indicator "⠿";
		}

		&:not([title]) {
			string-set: print-page content() print-page-break-indicator "⠿";
		}

		&::after {
			string-set: print-page-break-indicator "";
		}
	}

	/* Clear print page number after frontmatter (so that 'last' page does not point from
	 * bodymatter to frontmatter). Bodymatter sections are not guaranteed to have a
	 * epub:type (top-level sections without are implicitly bodymatter).
	 */
	body[epub|type~="frontmatter"]+body:not([epub|type~="frontmatter"]),
	section[epub|type~="frontmatter"]+section:not([epub|type~="frontmatter"]) {
		string-set: print-page "";
	}

	@page body {
		margin-bottom: 1;

		@bottom-right {
			content: string(print-page-break-indicator, first) string(print-page, last);
		}

		@left {
			// @-daisy-left
			content: -obfl-marker-indicator(pagenum, "⠿");
			-daisy-text-transform: none;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*               Line spacing                                                 */
/* -------------------------------------------------------------------------- */

@if $line-spacing ==double {
	:root {
		line-height: 1;
		/* to cancel out generic rule */
	}

	body,
	section {

		&:not([epub|type~="backmatter"],
			.pef-titlepage,
			.braille-specific-info) {
			line-height: 2;
		}
	}

	@page body:left {
		margin-top: 1;
	}
}

/* -------------------------------------------------------------------------- */
/*                 Page breaking                                              */
/* -------------------------------------------------------------------------- */

/* Always start top-level chapters on right-hand page */
html:has(body ~ body)>body,
html:not(:has(body ~ body))>body>section {

	&:not(.pef-titlepage,
		.braille-specific-info) {

		&:not([epub|type~="part"]),
		&[epub|type~="part"]>section {
			page-break-before: right;
		}
	}
}

section[epub|type~="part"] {
	page-break-before: right;
}

/* Avoid page breaks after a headline (orphaned headline) */
h1,
h2,
h3,
h4,
h5,
h6 {
	page-break-after: avoid;
}

/* Class that can be used to insert manual page breaks */
*.braille-page-break-before {
	page-break-before: always;
}

/* -------------------------------------------------------------------------- */
/*                 Volume breaking                                            */
/* -------------------------------------------------------------------------- */

/* Always start a new volume before a new part. */
/* Note: this selector assumes that parts in EPUBs are sibling elements. */
section[epub|type~="part"]~section[epub|type~="part"] {
	-daisy-volume-break-before: always;
}

/* Class that can be used to insert manual volume breaks */
*.braille-volume-break-before,
br.volume-break {
	-daisy-volume-break-before: always;
}

/* Ref- req-49 */
h1,
h2,
h3,
h4,
h5,
h6 {

	/* The '\A\A0' will produce an empty line after a resumed title, only when the resumed
	 * title is not empty.
	 *
	 * TODO: It would be nice if this could be solved with a flexible margin-bottom at the
	 * @any-resumed below - the margin-bottom should be 1, except when the content is
	 * empty, then it should be 0.
	 */
	string-set: resumed-title content() " (Forts.)\A\A0";
}

@-obfl-volume-transition {
	@any-resumed {
		white-space: pre-line;
		content: string(resumed-title, start-except-first);
	}
}

/* -------------------------------------------------------------------------- */
/*                        Generated content                                   */
/* -------------------------------------------------------------------------- */

/* Insert generated content at start of volume */
@-daisy-volume {
	@begin {
		content: -daisy-flow(titlepage, document) -daisy-flow(volume-toc, document);
	}
}

@-daisy-volume: first {
	@begin {
		content: -daisy-flow(titlepage-first, document) -daisy-flow(document-toc, document) -daisy-flow(volume-toc, document) -daisy-flow(other-front, document);
	}
}

/* This element is generated by insert-boilerplate.xsl. It is inserted in the frontmatter
 * (first body) before the first level1 (section).
 */
.pef-titlepage {
	display: block;
	margin-top: 0;
	margin-left: 1;
	margin-right: 1;
	hyphens: none;

	&>p {
		margin-top: 0;
		margin-bottom: 0;
	}

	&>.Høyre-justert {
		text-align: right;
	}

	-daisy-flow: titlepage-first;

	&::duplicate {
		-daisy-flow: titlepage;
	}
}

.pef-volume {
	&::before {
		content: "Hefte " -obfl-evaluate("(round $volume)");
	}

	&::after {
		content: -obfl-evaluate("(round $volumes)");
	}
}

/* #generated-*-toc are <ol>. These elements are generated by Pipeline. */

$toc-depth: 2 !default;
@import "http://www.daisy.org/pipeline/modules/braille/html-to-pef/_generate-toc.scss";

#generated-document-toc,
#generated-volume-toc {
	margin: 0;

	&::-obfl-on-toc-start {
		page-break-before: always;
		display: block;
		border: none;
		margin: 2 4 1 5;
		text-indent: 0;
		hyphens: none;
	}

	li {
		& a {
			display: block;
			margin-left: 2;
			-obfl-right-text-indent: 3;
			margin-top: 0;
			text-indent: -2;

			&::after {
				/* The print page numbers are placed in rounded brackets after each heading in the TOC. */
				content: " (" -daisy-target-string(attr(href), print-page) ")"
					" "
					/*-obfl-*/
					leader("⠄", $page-width - if($show-print-page-numbers, 2, 1) - 2, right) " " target-counter(attr(href), page);
			}
		}
	}
}

#generated-document-toc {
	-daisy-flow: document-toc;
}

html:has(> head > meta[name="dc:language"][content|="nn"]) #generated-document-toc::-obfl-on-toc-start {
	content: "Innhald for heile boka:";
}

html:has(> head > meta[name="dc:language"][content|="no"]) #generated-document-toc::-obfl-on-toc-start {
	content: "Innhold for hele boka:";
}

html:has(> head > meta[name="dc:language"][content|="nb"]) #generated-document-toc::-obfl-on-toc-start {
	content: "Innhold for hele boka:";
}

#generated-volume-toc {
	-daisy-flow: volume-toc;
}

html:has(> head > meta[name="dc:language"][content|="nn"]) #generated-volume-toc::-obfl-on-toc-start {
	content: "Innhald for heftet:";
}

html:has(> head > meta[name="dc:language"][content|="no"]) #generated-volume-toc::-obfl-on-toc-start {
	content: "Innhold for heftet:";
}

html:has(> head > meta[name="dc:language"][content|="nb"]) #generated-volume-toc::-obfl-on-toc-start {
	content: "Innhold for heftet:";
}

/* It all depends on how you style the TOC. You are currently specifying in CSS that you
 * want continued chapters in both the full TOC and the volume TOCs. To include them only
 * in the volume TOCs but not in the full TOC, you should have the following CSS:
 */
#generated-volume-toc li a::-obfl-on-resumed {
	content: target-text(attr(href)) " (Forts.)";
}

/* To limit the number of levels of headings in a TOC, there is the global "toc-depth"
 * parameter, but in addition you can also limit the number of levels using CSS:
 */
#generated-document-toc>li>ol {
	display: none;
}

/* These elements are generated by insert-boilerplate.xsl. They are inserted after
 * .pef-titlepage. There can be multiple .braille-specific-info elements; the first one is
 * a level1 (body) and starts with a h1.
 */
.braille-specific-info {

	/* Can not be put in the normal flow because of how the .notes-placement and
	 * .notes-placement-fallback fields are currently implemented.
	 */
	-daisy-flow: other-front;
	hyphens: none;
}

/* -------------------------------------------------------------------------- */
/*                                  General                                   */
/* -------------------------------------------------------------------------- */

head,
body[epub|type~="cover"],
section[epub|type~="cover"],
h1[epub|type~="fulltitle"],
h1[epub|type~="z3998:covertitle"],
h1[epub|type~="z3998:author"] {
	display: none;
}

*[epub|type~="frontmatter"] {
	display: none;

	&:has(> *:not(h1[epub|type~="fulltitle"],
			h1[epub|type~="z3998:covertitle"],
			h1[epub|type~="z3998:author"],
			.pef-titlepage,
			.braille-specific-info)) {
		display: block;
	}
}

section,
body:not([epub|type~="frontmatter"]),
aside[epub|type~="sidebar"],
aside[epub|type~="epigraph"],
aside[epub|type~="z3998:production"],
.Rammetekst,
section[epub|type~="z3998:poem"],
div[epub|type~="z3998:poem"],
section.linegroup,
div.linegroup,
p.line {
	display: block;
}

/* -------------------------------------------------------------------------- */
/*                Text formatting                                             */
/* -------------------------------------------------------------------------- */

@if ($include-strong) {

	strong,
	b {
		-daisy-text-transform: -louis-italic;
	}
}

@if ($include-em) {

	em,
	i {
		-daisy-text-transform: -louis-italic;
	}
}

sub {
	-daisy-text-transform: -louis-sub;
}

sup {
	-daisy-text-transform: -louis-super;
}

/* -------------------------------------------------------------------------- */
/*                Uncontracted content                                        */
/* -------------------------------------------------------------------------- */

.uncontracted-letters,
.pef-titlepage,
h1 {
	-daisy-text-transform: uncontracted;
}

[xml|lang]:not([xml|lang|="no"]),
[lang]:not([lang|="no"]) {
	-daisy-text-transform: uncontracted;

	[xml|lang|="no"],
	[lang|="no"] {
		/* "contracted" means "allow contracted" */
		-daisy-text-transform: contracted;
	}
}

@if $hyphenation and $force-norwegian {

	[xml|lang]:not([xml|lang|="no"]),
	[lang]:not([lang|="no"]) {
		hyphens: manual;

		[xml|lang|="no"],
		[lang|="no"] {
			hyphens: auto;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*                Thematic breaks                                             */
/* -------------------------------------------------------------------------- */

/* Note: The classes precedingseparator and precedingemptyline are replaced with hr
 * elements during preprocessing. */

hr::before {
	display: block;
	text-align: center;
	content: "⠄⠄⠄⠄⠄⠄⠄⠄";
	margin: 1 0;
}

hr.emptyline::before {
	content: "";
	margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                Special classes                                             */
/* -------------------------------------------------------------------------- */

.Rammetekst {
	margin: 1 0 1 2;
	text-indent: 2;
}

.Rammetekst::before {
	content: "Rammetekst: ";
}

[class*="showin-x"],
.hidden-braille {
	display: none;
}

/* -------------------------------------------------------------------------- */
/*                Headlines                                                     */
/* -------------------------------------------------------------------------- */

/* depth 6 */
h6 {
	margin: 1 5 0 0;
	border: none;
}

/* depth 5 */
h5,
*[epub|type~="part"] h6 {
	margin: 1 5 0 0;
	border: none;
}

/* depth 4 */
h4,
*[epub|type~="part"] h5 {
	margin: 1 5 0 0;
	border: none;
}

/* depth 3 */
h3,
*[epub|type~="part"] h4 {
	margin: 1 4 0 5;
	border: none;
}

/* depth 2 */
h2,
*[epub|type~="part"] h3 {
	margin: 2 4 1 5;
	border: none;
}

/* depth 1 */
h1,
*[epub|type~="part"] h2 {
	margin: 2 4 1 5;
	border: none;
	-obfl-underline: ⠉;
}

/* part */
*[epub|type~="part"] h1 {
	margin: 2;
	-daisy-border: ⠉ ⠸ ⠤ ⠇;
	padding: 0 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-indent: 0;
	hyphens: none;
}

/* Suppress line above h4-h6 if it follows a h3-h6 */
h3,
h4,
h5,
h6 {
	+section> {

		h4,
		h5,
		h6 {
			&:first-child {
				margin-top: 0;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {

	/* h1-h6 elements with the class "braille-task-heading" should have this style applied
	 * instead of the normal headline style.
	 */
	&.braille-task-heading {
		/* Override any other headline styles defined above */
		margin: 1 5 0 0;
		border: none;
		padding: 0;
		-obfl-underline: ⠉;
	}

	/* h1-h6 elements inside an aside or section with class="glossary" should have this style
	 * applied instead of the normal headline style (see markup requirements 2.4.4).
	 */
	section.glossary &,
	aside.glossary &,
	/* alternatively put the class "braille-glossary-heading" on the headline element */
	&.braille-glossary-heading {
		/* Override any other headline styles defined above */
		margin: 0;
		border: none;
		padding: 0;
		-obfl-underline: none;
	}
}

/* -------------------------------------------------------------------------- */
/*                Other elements                                              */
/* -------------------------------------------------------------------------- */

p {
	text-indent: 2;
	widows: 2;
	orphans: 2;

	&.braille-no-indent {
		text-indent: 0;
	}
}

@media screen {
	.image {
		/* dummy class */
		color: aliceblue;
	}
}

blockquote {
	margin: 1 0 1 2;
	text-indent: 2;
}

/* No extra margin when an element is a descendant of aside */
@mixin margin-left-except-within-aside($margin-left) {
	margin-left: $margin-left;

	aside:not(.braille-aside-no-indent,
		.braille-aside-strek) & {
		margin-left: 0;
	}
}

aside {
	margin: 1 0 1 2;

	&.braille-aside-no-indent {
		margin-left: 0;
		text-indent: 0;
		orphans: 3;
		widows: 3;
	}

	&.braille-aside-strek {
		margin-left: 0;
		text-indent: 0;
		-daisy-border: ⠤ none ⠉;
		orphans: 3;
		widows: 3;
	}

	&[epub|type~="sidebar"] {
		text-indent: 2;
		orphans: 3;

		/* Don't indent p if it's the first of multiple children of a sidebar */
		p:first-child:has(~ *) {
			text-indent: 0;
		}
	}

	&[epub|type~="epigraph"] {
		text-indent: 2;
	}

	&[epub|type~="z3998:production"] {
		margin: 0;
		@include margin-left-except-within-aside(2);

		p:first-child {
			display: inline;
		}

		>p:first-child::before,
		/* you can add more selectors like this, for every
		                          * block element that can appear inside prodnote */
		>ul:first-child> :first-child::before,
		>ol:first-child> :first-child::before,
		&:not(:has(ul, ol, p))::before {
			content: "⠰⠄";
		}

		>p:last-child::after,
		>ul:last-child> :last-child::after,
		>ol:last-child> :last-child::after,
		&:not(:has(ul, ol, p))::after {
			content: "⠠⠆";
		}
	}
}

div {
	margin-top: 1;
	margin-bottom: 1;

	/* bruker epub:type for å skille mellom text-indent 0 og 2 */
	&[epub|type~="sidebar"] {
		margin-left: 2;
		text-indent: 2;

		p:first-child {
			text-indent: 0;
		}
	}

	&.braille-div-strek {
		-daisy-border: ⠤ none ⠉;
	}
}

/* -------------------------------------------------------------------------- */
/*                Images                                                      */
/* -------------------------------------------------------------------------- */

figure.image,
figure.image-series {
	display: block;

	/* Empty line above */
	margin-top: 1;

	/* If multiple figures are wrapped inside an image-series, place the empty line above the outer figure,
	 * and not in between the inner figures.
	 */
	figure.image-series>& {
		margin-top: 0;
	}

	/* Empty line below */
	+,
	+div[epub|type~="pagebreak"]+ {

		p,
		ul,
		ol {
			margin-top: 1;
		}
	}

	/* Show alt text for images with alt text (except decorative images) */
	>img[alt]:not([alt=""], [alt="image"])::after {
		display: block;
		content: "Bilde: " attr(alt);
		@include margin-left-except-within-aside(2);
		text-indent: 0;
	}

	/* Image captions */
	>figcaption {
		display: block;
		margin: 0;
		@include margin-left-except-within-aside(2);
		text-indent: 0;

		&::before {
			content: "Bildetekst: ";
		}
	}
}

/* Indent img and figcaption if they follow another element in the same figure */
figure.image> :not(img:not([alt]), img[alt=""], img[alt="image"])~,
figure.image-series>*~figure.image> {

	img[alt]:not([alt=""], [alt="image"])::after,
	figcaption {
		text-indent: 2;
	}
}

figure.image {
	orphans: 3;
}

figure.image-series {
	&::before {
		display: block;
		content: "Bildeserie:";
		@include margin-left-except-within-aside(2);
	}
}

/* -------------------------------------------------------------------------- */
/*                Poems                                                       */
/* -------------------------------------------------------------------------- */

section[epub|type~="z3998:poem"],
div[epub|type~="z3998:poem"] {
	margin-top: 1;
	margin-bottom: 1;
	text-indent: 2;
}

section.linegroup,
div.linegroup {
	margin-top: 1;
	margin-bottom: 1;
	text-indent: -2;
}

p.line {
	margin-left: 2;
	text-indent: -2;
}

/* -------------------------------------------------------------------------- */
/*                Lists                                                       */
/* -------------------------------------------------------------------------- */

ul,
ol,
dl {
	margin-top: 0;
	margin-left: 2;
	margin-bottom: 1;
	counter-reset: list-item;
}

li {
	text-indent: -2;
	display: list-item;
	orphans: 2;

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 0;
	}

	p:first-child {
		display: inline;
	}
}

ul {
	list-style-type: "⠤⠤";
}

ol {
	list-style-type: decimal;
}

dl,
.list-style-type-none {
	list-style-type: none;
}

dt,
dd {
	display: inline;
}

.list-style-type-decimal {
	list-style-type: decimal;
}

.list-style-type-decimal::after {
	content: ".";
}

.list-style-type-lower-roman {
	list-style-type: lower-roman;
}

.list-style-type-lower-roman::after {
	content: ".";
}

.list-style-type-upper-roman {
	list-style-type: upper-roman;
}

.list-style-type-upper-roman::after {
	content: ".";
}

.list-style-type-lower-alpha {
	list-style-type: lower-alpha;
}

.list-style-type-lower-alpha::after {
	content: ".";
}

.list-style-type-upper-alpha {
	list-style-type: upper-alpha;
}

.list-style-type-upper-alpha::after {
	content: ".";
}

.list-unstyled {
	list-style-type: none;
}

ol[type="i"] {
	list-style-type: lower-roman;
}

ol[type="I"] {
	list-style-type: upper-roman;
}

ol[type="a"] {
	list-style-type: lower-alpha;
}

ol[type="A"] {
	list-style-type: upper-alpha;
}

/* -------------------------------------------------------------------------- */
/*                Tables                                                      */
/* -------------------------------------------------------------------------- */

table {
	&%table-matrix {
		display: table;
		-obfl-table-col-spacing: 2;
		-obfl-preferred-empty-space: 0;

		td>p,
		th>p {
			display: inline;
		}
	}

	&%table-matrix-transposed {
		@extend %table-matrix;
		-daisy-render-table-by: column;
	}

	&%table-linearized {
		display: block;
		-daisy-render-table-by: row;

		&:has(> thead th):not(:has(> :not(thead) th)),
		&:has(> tr:first-child th):not(:has(> :not(tr:first-child) th)) {
			-daisy-render-table-by: column;
		}

		&::list-item {
			display: block;
		}

		&::table-by(row),
		&::table-by(column) {
			display: block;
			text-indent: -2;
			margin-left: 2;

			&::list-item {
				&::before {
					content: " ⠆ ";
					-daisy-text-transform: none;
					hyphens: initial;
				}

				&:first-child {
					&::before {
						content: none;
					}
				}
			}
		}

		td>p,
		th>p {
			display: inline;
		}
	}

	&%table-as-list {
		display: block;
		-daisy-render-table-by: row;

		&:has(> thead th):not(:has(> :not(thead) th)),
		&:has(> tr:first-child th):not(:has(> :not(tr:first-child) th)) {
			-daisy-render-table-by: column;
		}

		th::after {
			content: ": ";
		}

		&::list-item {
			display: block;
		}

		&::table-by(row),
		&::table-by(column) {
			display: block;
			margin-left: 2;

			&::list-item {
				display: block;
				margin-left: 2;
				text-indent: -2;

				&:first-child {
					text-indent: -4;
					// does not work:
					// > p { ... }
				}
			}
		}

		td>p,
		th>p {
			/* "text-indent: inherit" does not work so we just drop p's altogether. */
			display: inline;
		}

		td:blank::after {
			content: "(tom)";
		}
	}

	&%table-fallback {
		@extend %table-matrix;

		/* Format table as list when matrix format results in at least 1 forced line break, or the
		 * total height in matrix format is more than 33% larger.
		 */
		-obfl-scenario-cost: -obfl-evaluate("(+ (* 10 $forced-break-count) (* .75 $total-height))");

		&:-obfl-alternate-scenario {
			@extend %table-as-list;
			-obfl-scenario-cost: -obfl-evaluate("$total-height");
		}
	}

	&.table-matrix {
		@extend %table-matrix;
	}

	&.table-matrix-transposed {
		@extend %table-matrix-transposed;
	}

	&.table-linearized {
		@extend %table-linearized;
	}

	&.table-as-list {
		@extend %table-as-list;
	}

	&.table-fallback {
		@extend %table-fallback;
	}

	&:not([class]) {
		@extend %#{$default-table-class};
	}

	caption {
		display: block;
		text-indent: 2;
		margin-top: 1;
		margin-bottom: 1;
	}

	caption::after,
	&:not(:has(caption))::before {
		display: block;
		text-indent: 2;
		margin-top: 1;
		margin-bottom: 1;
		content: "Tabell starter";
	}

	&::after {
		display: block;
		text-indent: 2;
		margin-top: 1;
		margin-bottom: 1;
		content: "Tabell slutter";
	}
}

/* -------------------------------------------------------------------------- */
/*                Note and endnote                                            */
/* -------------------------------------------------------------------------- */

/* Remove note references by default */
a[epub|type~="noteref"] {
	display: none;
}

*[epub|type~="note"],
*[epub|type~="footnote"],
*[epub|type~="endnote"],
*[epub|type~="rearnote"] {

	/* Note: inline content in notes are wrapped into <p> elements in pre-processing.xsl */
	*:first-child {
		text-indent: -2;

		&::before {
			content: "⠠";
		}
	}

	/* Remove notes by default */
	display: none;
}

/* Remove groups of notes by default */
*.notes,
*.footnotes,
*.endnotes,
*[epub|type~="notes"],
*[epub|type~="footnotes"],
*[epub|type~="endnotes"],
*[epub|type~="rearnotes"] {
	display: none;
}

/* An extend-only selector (%endnotes-title) would be more appropriate but does not seem
 * to work in the 'end-of-book' case.
 */
@mixin endnotes-title {
	display: block;
	margin-top: 2;
	margin-left: 2;
	margin-right: 0;
	margin-bottom: 1;
	text-align: center;
	-daisy-border: ⠉ none ⠉;
	content: "Fotnoter";
	-daisy-text-transform: auto;
}

/* Noteref numbering is implemented in pre-processing.xsl.
 * FIXME: could be implemented in CSS
 */
@mixin noteref($refattr) {
	display: inline;

	&::before {
		content: "⠠";
	}

	&::alternate {
		display: block;
		content: -daisy-target-content(attr($refattr));
		margin-left: 4;

		@if ($notes-placement =="bottom-of-page") {
			-daisy-flow: footnotes;
		}

		@else {
			-daisy-flow: endnotes;
		}
	}
}

@if ($include-notes) {
	@page notes {
		margin-left: 0;

		@if $show-braille-page-numbers {
			@bottom-center {
				content: counter(page);
			}
		}
	}

	a[epub|type~="noteref"] {
		@include noteref(href);
	}

	@if ($notes-placement =="bottom-of-page") {
		@page {
			@footnotes {
				// @-daisy-footnotes
				content: -daisy-flow(footnotes, page);
				max-height: 15;
				-daisy-border-top: ⠤;
				margin-left: 0;
				-obfl-fallback-collection: endnotes;
			}
		}

		.notes-placement {
			-obfl-use-when-collection-not-empty: footnotes;
		}

		.notes-placement-fallback {
			-obfl-use-when-collection-not-empty: endnotes;
		}
	}

	@else if ($notes-placement =="end-of-book") {
		html {

			&:has(noteref)::after,
			&:has(a[epub|type~="noteref"])::after {
				&::before {
					@include endnotes-title;
					page-break-before: right;
				}

				content: -daisy-flow(endnotes, document);
			}
		}
	}

	@if ($notes-placement =="bottom-of-page" or $notes-placement =="end-of-volume") {
		html {
			&:has(noteref, a[epub|type~="noteref"])::alternate {
				@include endnotes-title;
				-daisy-flow: endnotes-title;
			}
		}

		@-daisy-volume {
			@end {
				content: -daisy-flow(endnotes-title, document) -daisy-flow(endnotes, volume);
				page: notes;
			}
		}
	}
}